@import '../../../global.scss';

.family-creation-cta {
    margin-top: 2rem;
}

.family-creation-container {
    background-color: $primary-color;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.error-message {
    color: $alert-color;
}