@import '../../../../global.scss';

.gift-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin-top: 10rem;
    margin-bottom: 3rem;
    background-color: $primary-color;
    padding: 2rem;
    border-radius: 15px;
}

.gift-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.user-gift-list-header {
    margin-bottom: 2rem;
}

.user-gift-item {
    display: flex;
    flex-direction: column;
    width: 425px;
    min-width: 425px;
    margin-bottom: 1.5rem;
    background-color: $secondary-color;
    padding: 1rem;
    border-radius: 15px;
    text-align: left;
}

.item-top-container {
    display: flex;
}

.user-gift-item-image {
    width: 150px; 
    height: 150px;
    border-radius: 15px;
}

.item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.price-priority-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.gift-item-title {
    font-size: $font-size-large;
}

.gift-item-price,
.gift-item-priority {
    font-size: $font-size-large;
}

.gift-item-description,
.gift-item-description-title {
    text-align: left;
}

.gift-item-description-title {
    font-size: $font-size-large;
}

.purchased-button,
.go-to-button {
    background-color: $primary-color;
    color: white;
}

.purchased-button:hover,
.go-to-button:hover {
    background-color: $success-color;
}

.go-to-button {
    margin-top: 1rem;
}

.user-gift-item-disabled {
    color: #616161; 
    background-color: #bababa; 
    opacity: 0.5; 
    pointer-events: none; 
}

.user-gift-item-disabled .unmark-button {
    pointer-events: auto; 
    background-color: #fff; 
    color: #333; 
    border: 2px solid transparent; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.user-gift-item-disabled .unmark-button:hover {
    background-color: $success-color; 
    color: #fff; 
    border-color: $success-color; 
    cursor: pointer; 
}