@import '../../global.scss';

nav {
    background-color: rgba($primary-color, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 1rem;
    top: 0;
    left: 0;
    position: fixed;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.links-container-logged-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}