@import '../../../../../global.scss';

.add-user-form-container {
    background-color: $primary-color;
    padding: 2rem;
    border-radius: 15px;
}

.success-message {
    color: $secondary-color;
}