@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=PT+Sans:wght@400;700&family=Playpen+Sans&display=swap');

//Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xl: 1280px;

//Fonts
$font-header: 'Agbalumo', sans-serif;
$font-cta: 'Playpen Sans', sans-serif;
$font-text: 'PT Sans', sans-serif;

//Font Sizes
$font-size-root: 16px; // typically the default size for browsers
$font-size-small: 0.8rem;  // 12.8px
$font-size-base: 1rem;    // 16px
$font-size-large: 1.25rem;  // 20px
$font-size-xl: 1.5rem;     // 24px
$font-size-xxl: 2.5rem;
$font-size-max: 3.5rem;

//Color Scheme
$primary-color: #3498db;
$secondary-color: #2c3e50;
$background-color: #e4e4e4;
$text-color: #333;
$alert-color: #e74c3c;
$success-color: #2ecc71;

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    text-align: center;
    font-family: $font-text;
}

h1 {
    font-family: $font-header;
    font-size: $font-size-max;
}

h2 {
    font-family: $font-cta;
    font-size: $font-size-xl;
}

button {
    padding: 0.25rem 5rem;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    font-family: $font-cta;
    margin: 1.5rem 0;

    &:hover {
        background-color: rgba($secondary-color, 0.8);
        cursor: pointer;
    }

    &.primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: rgba($secondary-color, 0.8);
            cursor: pointer;
        }
    }

    &.secondary {
        background-color: $secondary-color;
        color: white;

        &:hover {
            background-color: rgba($secondary-color, 0.8);
            cursor: pointer;
        }
    }

    &.danger {
        background-color: $alert-color;
        color: white;

        &:hover {
            background-color: rgba($alert-color, 0.8);
            cursor: pointer;
        }
    }
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

label {
    width: 275px;
    display: block;
    text-align: left;
    font-family: $font-cta;
    margin-bottom: 0.25rem;
}

input {
    width: 275px;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.316) solid 1px;
    margin-bottom: 1rem;
    padding: 0.25rem 0.75rem;
    font-family: $font-text;
    font-size: $font-size-base;
    outline: none;

    &:focus {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    }
}